<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="Edgeworth" subTitle="Add to the Story of Irish Science"}}
  {{> main-menu }}
</div>

<div class="uk-container uk-margin">
  <div class="uk-margin uk-child-width-expand uk-card-default uk-flex-left uk-margin" uk-grid>
          <div class="uk-card uk-card-default uk-card-body uk-box-shadow-large">

    <div class="uk-width-expand@m">{{> contribute}}</div>
  </div>
  <div class="uk-width-auto@m">
    
  </div>
  <img width="300" src="images/optical.png" />
</div>
</div>