<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="Edgeworth" subTitle="Map of Irish Science"}}
  {{> welcome-menu }}
</div>

<div class="uk-container uk-margin">
  <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    
    <div class="uk-width-expand@m">
        <p class ="uk-text-large">
          Welcome to Edgeworth, the Map of Irish Science
        </p>
        <p>
          Learn about Ireland's great scientists and inventors, and the places that inspired them. Explore their stories, and add your own by contributing profiles of Irish people and places of scientific importance that we have missed. Edgeworth is named after Richard Lovell Edgeworth, who built an optical telegraph to rapidly relay information across early nineteenth-century Ireland. Become a link in our modern day information network by signing up and sharing this site with your friends, colleagues, and students.
        </p>
      {{> error }}
    </div>
    <div class="uk-width-auto@m">
      <img width="300" src="images/irish-geo.png" />
    </div>
  </div>
</div>
