<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="fibber" subTitle="the fiction writing app"}}
  {{> welcome-menu }}
</div>

<div class="uk-container uk-margin">
  <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    
    <div class="uk-width-expand@m">
      <img src="">
        <p class ="uk-text-large">
          Welcome to fibber, the storymaking app
        </p>
        <p>
Do your children want a new story every night before bed? Now you can help them create their own with Fibber, the story-making app. They add the details—heroines, heroes, animals, location, things, and type—and Fibber does the rest. Using location data, API calls, and Natural Language Processing (NLP) tools, Fibber makes completely unique stories for your children every time, and allows them return again and again to old favourites. Watch vocabularies grow and imaginations soar with Fibber. 
          </p>
          
      {{> error }}
    </div>
    <div class="uk-width-auto@m">
      <img width="300" src="images/quill.png" />
    </div>
  </div>
</div>
